*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    
}

#nav{
    box-sizing: border-box;
    width: 100%;
    border: solid blue;
    background: blue;
    float: left;
}

a{
    color: white;
    box-sizing: border-box;
    border 5px solid black;
    width: 15%;
    float: left;
    text-align: center;
} 