*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    
}

#nav{
    box-sizing: border-box;
    width: 100%;
    border: 5px solid blue;
    background: blue;
    float: left;
}

a{
    color: white;
    box-sizing: border-box;
    border: 2px solid black;
    margin-right: 2%;
    width: 18%;
    float: left;
    text-align: center;
} 