*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    background-color: darkblue;
    margin: 0;
}

#nav{
    width: 100%;
    /*background: blue;*/
    /*float: left;*/
}

#nav-elem{
    /*float: left;*/
    justify-content: space-evenly;
}

#page{
    disply: flex;
    flex-direction: row;
    border: 2px solid black;
    color: white;
    margin: 1%;
    width: 14%;
    text-align: center;
} 